/* Base typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

button {
    font-family: inherit;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

:root {
    /* Loader Sizes */
    --loader-size-small: 24px;
    --loader-size-medium: 48px;
    --loader-size-large: 72px;

    /* Primary Colors */
    --color-primary: #003366;
    --color-secondary: #f1c400;

    /* Neutral Colors */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray-light: #f5f5f5;
    --color-gray-dark: #333333;

    /* Accent Colors */
    --color-accent: #d3843a;

    /* Backgrounds */
    --background-light: #ffffff;
    --background-dark: #333333;
}